@font-face {
  font-family: 'f1479-8c671e196c3';
  src: url('font-file-f1479-8c671e196c3.eot');
  src: url('font-file-f1479-8c671e196c3.eot#iefix') format('embedded-opentype'),
       url('font-file-f1479-8c671e196c3.woff') format('woff'),
       url('font-file-f1479-8c671e196c3.ttf') format('truetype'),
       url('font-file-f1479-8c671e196c3.svg#f1479-8c671e196c3') format('svg');
}.css-f1479-8c671e196c3{font-family: 'f1479-8c671e196c3';}
