@font-face {
  font-family: 'f617-4225e735280';
  src: url('font-file-f617-4225e735280.eot');
  src: url('font-file-f617-4225e735280.eot#iefix') format('embedded-opentype'),
       url('font-file-f617-4225e735280.woff') format('woff'),
       url('font-file-f617-4225e735280.ttf') format('truetype'),
       url('font-file-f617-4225e735280.svg#f617-4225e735280') format('svg');
}.css-f617-4225e735280{font-family: 'f617-4225e735280';}
