@font-face {
  font-family: 'f1111-cb772b13ebd';
  src: url('font-file-f1111-cb772b13ebd.eot');
  src: url('font-file-f1111-cb772b13ebd.eot#iefix') format('embedded-opentype'),
       url('font-file-f1111-cb772b13ebd.woff') format('woff'),
       url('font-file-f1111-cb772b13ebd.ttf') format('truetype'),
       url('font-file-f1111-cb772b13ebd.svg#f1111-cb772b13ebd') format('svg');
}.css-f1111-cb772b13ebd{font-family: 'f1111-cb772b13ebd';}
