@font-face {
  font-family: 'f1479-d9a5e735280';
  src: url('font-file-f1479-d9a5e735280.eot');
  src: url('font-file-f1479-d9a5e735280.eot#iefix') format('embedded-opentype'),
       url('font-file-f1479-d9a5e735280.woff') format('woff'),
       url('font-file-f1479-d9a5e735280.ttf') format('truetype'),
       url('font-file-f1479-d9a5e735280.svg#f1479-d9a5e735280') format('svg');
}.css-f1479-d9a5e735280{font-family: 'f1479-d9a5e735280';}
